body {
  margin: 0;
}

/* Home Page */

/* Main Content */
.homesection {
  margin: 6em 4em 4em 10em;
  padding-left: 6rem;
  width: 50%;
}
.homeheader h1 {
  color: #08036ec7;
  font-size: 4em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.337px;
}
.homeheader h2 {
  color: #060247d2;
  font-size: 2.4em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-top: 1em;
}
/* Article */
.articletitle {
  margin: 6rem 0 8px 0;
  font-family: "Ubuntu", sans-serif;
}
.homearticle img {
  overflow: hidden;
  border-radius: 10px;
  max-height: 16rem;
  min-width: 30rem;
  width: 60%;
  box-shadow: 4px 4px 10px #333, 8px 8px 10px rgb(58, 58, 235);
}

/* About  Page */

/* Main Content */
.aboutsection {
  margin: 6em 4em 4em 10em;
  padding-left: 6rem;
  width: 50%;
}
.aboutheader h1 {
  color: #08036ec7;
  font-size: 2.6em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.337px;
}
.aboutheader h2 {
  color: #060247d2;
  font-size: 2.4em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-top: 1em;
}
/* Article */
.articletitle {
  margin: 6rem 0 8px 0;
  font-family: "Ubuntu", sans-serif;
}

.aboutarticle img {
  overflow: hidden;
  border-radius: 10px;
  max-height: 16rem;
  min-width: 30rem;
  width: 60%;
  box-shadow: 4px 4px 10px #333, 8px 8px 10px rgb(58, 58, 235);
}