/* Universal CSS */

body {
  margin: 0;
}
section {
  margin: 6em 4em 4em 10em;
  padding-left: 6rem;
  width: 600px;
}
/* Home Page */

/* Main Content */

.homeheader h1 {
  color: #08036ec7;
  font-size: 4em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.337px;
}
.homeheader h2 {
  color: #060247d2;
  font-size: 2.4em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-top: 1em;
}
/* Article */
.homefigure {
  margin-left: 0;
}
.figuretitle {
  margin: 6rem 0 8px 0;
  font-family: "Ubuntu", sans-serif;
}
.homefigure img {
  overflow: hidden;
  border-radius: 10px;
  max-height: 16rem;
  min-width: 30rem;
  width: 400px;
  box-shadow: 4px 4px 10px #333, 8px 8px 10px rgb(58, 58, 235);
}

/* About  Page */

/* Main Content */
section p {
  font-size: 1.4rem;
  font-family: "Roboto", sans-serif;
}
.aboutheader h1 {
  color: #08036ec7;
  font-size: 2.6em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1.337px;
}
.aboutheader h2 {
  color: #060247d2;
  font-size: 2.4em;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-top: 1em;
}
/* Article */
.aboutfigure {
  display: flex;
  justify-content: space-around;
}
.html5 {
  font-size: 5em;
  background: -webkit-linear-gradient(left, #ffa600, #e34f26);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.css3 {
  font-size: 5em;
  background: -webkit-linear-gradient(right, #2965f1, #264de4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.aboutfigure p {
  opacity: 0;
  text-align: center;
  font-size: 1.2em;
}
.aboutfigure div {
  padding: 1em 1em 0.2em 1em;
  border-radius: 20px;
}
.aboutfigure div:hover {
  color: black;
  border: 5px solid #0c04a5e0;
  transition: 1s;
}
.aboutfigure div:hover p {
  opacity: 1;
  transition: 2s;
}

/* Contact Page  */

/* Form Header */
.contactheader {
  display: flex;
}
.contactheader a {
  color: #060247d2;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-left: 10px;
  padding-top: 50px;
}
.contactheader h1 {
  color: #060247d2;
  font-size: 2.4em;
  font-family: "Open Sans", sans-serif;
  font-style: italic;
  margin-bottom: 10px;
}
/* Contact Form  */
form {
  padding: 1em;
  border: 5px solid #0c04a5e0;
  border-radius: 20px;
}
form:after {
  content: "";
  display: table;
  clear: both;
}

form label {
  font-family: "Roboto", sans-serif;
  float: left;
  width: 25%;
  margin-top: 6px;
}
.form {
  float: left;
  width: 75%;
  margin-top: 6px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 6px solid #b9bae6;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  overflow: scroll;
}
input[type="submit"] {
  background-color: #5c2be2;
  color: white;
  padding: 12px 22px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="submit"]:hover {
  background-color: #0c04a5e0;
}

/* Blog Page */
.blogsection {
  width: 900px;
  font-family: "Roboto", sans-serif;
}
.blogheader h1 {
  color: #08036ec7;
  font-size: 4em;
  margin-top: 0;
  font-family: "Open Sans", sans-serif;
}
.blogarticle {
  display: flex;
  padding: 1em;
  margin-bottom: 30px;
  border-radius: 20px;
  box-shadow: 2px 2px 5px #333, 4px 4px 5px #3a3aeb;
}
.blogsection .postdescription h2 {
  font-size: 1.5em;
  margin: 0;
}
.blogsection .postdescription a {
  text-decoration: none;
}
.blogsection .postdescription a:hover {
  color: #3a3aeb;
  transition: 1s;
}
.blogarticle figure {
  overflow: hidden;
  margin: 5px;
  width: 30%;
  height: 10em;
}
.blogarticle figure img {
  width: 100%;
}

.blogsection .postdescription {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.blogsection .postdescription p {
  margin-top: auto;
  font-size: 1em;
  color: gray;
}

/* Blog Posts  */
.postheader h2 {
  font-family: "Open Sans", sans-serif;
}
.postheader h3 {
  font-family: "Ubuntu";
}
.postheader p {
  margin-top: auto;
  font-size: 1em;
  color: gray;
}
.postarticle p {
  font-size: 1em;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  hyphens: auto;
}
.postheader figure {
  text-align: center;
  margin: 0;
}

/* Mobile View  */
@media screen and (max-width: 1000px) {
  /* All pages */
  main {
    display: flex;
    flex-direction: column-reverse;
  }
  body {
    width: 100%;
  }
  section {
    width: 80%;
    margin: 6em auto 2em auto;
    padding: 0;
  }

  /* Home Page */

  .homefigure {
    margin: 0;
    width: 100%;
  }
  .homefigure img {
    min-width: auto;
    max-height: none;
    width: 100%;
  }
  .homeheader h1 {
    font-size: 2.8em;
  }
  .homeheader h2 {
    font-size: 1.8em;
  }
  /* Contact Page */

  .contactheader {
    display: block;
    margin-bottom: 10px;
  }

  /* Blog Page */
  .blogsection {
    width: 90%;
  }
  .blogarticle {
    flex-direction: column;
  }
  .blogarticle img {
    width: 100%;
  }
  .blogarticle figure {
    margin: 0;
    width: 100%;
  }
}
